<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top"  role="navigation">
            <div class="container">
                <div class="navbar-header">


                    <img src="{{ asset('img/logo.png') }}" width="45px" height="40px"alt="logo" />

                   <a class="navbar-brand" href="/" style="color:#800080; font-weight: bold;">To Do List app</a>


                    
                   
                </div>

            
             <div class="float-right" style="text-align: right;margin-top:5px ;">
                    {% if ((is_granted("ROLE_ADMIN"))) %}
                <a href="{{ path('user_create') }}" class="pull-left btn btn-primary" style="margin-right: 10px;background-color:#808080 ;border-radius: 10px; border-color:#808080 ;">Créer un utilisateur</a>
                <a href="{{ path('user_list') }}" class="pull-left btn btn-primary" style="margin-right: 10px;background-color:#800080 ;border-radius: 10px; border-color:#800080 ;">Liste utilisateurs</a>
                <a href="{{ path('user_edit', {'id' : app.user.id, 'role_edit' : 'user_admin'}) }}" class="pull-left btn btn-primary" style="background-color:#800080 ;border-radius: 10px; border-color:#800080 ;">Modifier mon profil</a>
                {% endif %}
                {% if app.user %}
                <a href="{{ path('app_logout') }}"style="background-color:#800080 ;border-radius: 10px; border-color:#800080 ;" class="pull-right btn btn-danger">Se déconnecter</a>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                <a href="{{ path('login') }}" style="background-color:#808080 ;border-radius: 10px; border-color:#808080 ;"class="btn btn-success " >Se connecter</a>
                <a href="{{ path('user_create') }}" style="background-color:#800080 ;border-radius: 10px; border-color:#800080 ;" class="btn btn-warning ">S'inscrire</a>
                {% endif %}
            </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="slide-image" width="300px" height="400px" src="{{ asset('img/todolist_homepage_.jpg') }}" alt="todo list">{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->
<style> 
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    height: 100% !important;
    background-color: white !important;
}

.container-fluid{
    margin-top: 101px;
    color:#000 !important;
}

.card{
    background-color: #F8F9FB !important;
}

p{
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
    display: fkex;
}

h3{
    font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
    font-size: 21px !important; 
}


.color-text{
    color:#757575 !important;
}


button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    background-color: #2CA6FB !important;
    padding-left:  calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-top:  calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-bottom:   calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
 }

 button:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0
 }

 footer{
    color:#caced1 !important;
 }

 li{
     margin-top: 20px ;
     margin-bottom: 20px ;
 }
 
.Careers{ 
    cursor: pointer;
    color: #1E88E5;
}

.row-1{
    background-color:#800080 !important;
}

.row-2{
    
    background-color: #800080 !important;
}</style>
       <div style="background-color:#800080 !important;" class="container-fluid pb-0 mb-0 justify-content-center text-light ">
   
    <footer style="background-color:#800080 !important;">
       <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
           <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center">
                        

                    <a class="navbar-brand" href="/" style="color:#fffeff;">To Do List app</a>

                  

                    </div>

                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Plateforme</li><li>Centre d'aide</li><li>Sécurité</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Clients</li><li>Cas d'utilisation</li><li>Service Clients</li></ul></div>
                    <div class="col-sm-3  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-0">Entreprise</li><li>À propos</li><li>Carrières</li></ul></div>
                </div>  
           </div>
       </div>
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    
                </div>
            </div>
        </div>
    </footer>
</div>

   <!--     <script src="{{ asset('js/jquery.js') }}"></script> -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
